@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

.pog {
    width: 100vw;
    height: 100vh;
    background-color: #282A36;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropZone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px dashed #9D7CCF;
    width: 100%;
    height: 100%;
 
}

.dropZone.dragover {
    background-color: #6272A4;
  } 

.inputForm {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.inputForm label[for="fileInput"] {
    background-color: #9D7CCF; /* Use the purple color for the file input button */
    border: none;             
    color: white;          
    font-weight: 700;        
    padding: 15px 20px;       
    text-align: center;       
    text-decoration: none;    
    display: inline-block;    
    font-size: 16px;          
    margin: 10px 2px;         
    cursor: pointer;          
    border-radius: 8px;       
    transition: background-color 0.3s ease; 
}

.inputForm input[type="file"] {
    display: none; /* Hide the default file input */
}

.inputForm label[for="fileInput"]:hover {
    background-color: #6272A4; /* Darker shade on hover */
}

.inputForm input[type="submit"] {
    background-color: #9D7CCF; /* Purple background */
    border: none;             
    color: white;        
    font-weight: 700;     
    padding: 15px 20px;       
    text-align: center;       
    text-decoration: none;    
    display: inline-block;    
    font-size: 16px;          
    margin: 10px 2px;         
    cursor: pointer;          
    border-radius: 8px;       
    transition: background-color 0.3s ease; 
}